<%- include("includes/head",{pageTitle:"Error"}) %>

    </head>

    <body>
        <%- include("includes/header") %>
            <main>
                <h1>Not Authenticated</h1>
                <p>You are not Authenticated</p>
                <p><a href="/" class="btn"> Back to safety!</a></p>
            </main>

    </body>

    <%- include("includes/footer") %>