<%- include("includes/head",{pageTitle:"Error"}) %>

    </head>

    <body>
        <%- include("includes/header") %>
            <h1>Something went wrong</h1>
            <p>Unfortunately , Something went wrong - please try again later</p>
            <p><a href="/" class="btn"> Back to safety!</a></p>

    </body>

    <%- include("includes/footer") %>