<%- include('includes/head',{pageTitle:"Home"}) %>

    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <article class="bg">
                    <div class="base">
                        <p>Check our latest range of product</p>
                        <a href="/products" class="btn">Shop</a>
                    </div>
                    <div class="bgimage">

                    </div>
                </article>
            </main>

    </body>

    <%- include('includes/footer') %>