<%- include('../../shared/includes/head',{pageTitle:"Success"}) %>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Payment was successfull</h1>
                <p>You can visit the <a class="btn" href="/orders">orders</a> page for more details!</p>

            </main>

    </body>

    <%- include('../../shared/includes/footer') %>