<%- include('../../shared/includes/head',{pageTitle:"All Products"}) %>
    <link rel="stylesheet" href="/styles/product.css">
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>All Products</h1>
                <ul class="products-grid">
                    <% for(const product of products) { %>
                        <li>
                            <%- include('./product-item',{product:product}) %>
                        </li>
                        <% } %>
                </ul>
            </main>

    </body>

    <%- include('../../shared/includes/footer') %>