<%- include('../../shared/includes/head',{pageTitle:"Add New Products"}) %>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/new-product.css">
    <script src="/scripts/image-preview.js" defer></script>

    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Add new Product</h1>
                <%- include('../includes/product-form',{submitPath:'/admin/products',product:{ title:'', summary:'',
                    price:'', description:''},imageRequired:true} )%>


            </main>

    </body>

    <%- include('../../shared/includes/footer') %>